html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

tbody td {
  text-align: center;
}

/* td {
  letter-spacing: 1px;
}
th {
  letter-spacing: 2px;
} */

tbody td{
  padding: 15px;
}

tbody tr:nth-child(odd){
  background-color: #81afff;
  color: #fff;
}
tbody tr:nth-child(even){
  background-color: #ffffff;
  color: #000000;
}
